// MAIN

.id {
    border-radius: 50%;
}

// PHOTOS
.col-md-10 > img:nth-child(3),
.col-md-10 > img:nth-child(6) {
    width: 55%;
}

.col-md-10 > img:nth-child(4),
.col-md-10 > img:nth-child(5) {
    width: 36.65%;
}

img.img-responsive:nth-child(3) {
    width: 80%;
}

main article {
    border-top: 0.5px solid rgb(208, 208, 208);
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.comment {
    margin-top: 0.5em;
}
